
@{
   ViewBag.Title = "Index";
}
<link href="~/Content/UserProfile.css" rel="stylesheet" />

<br />
<div class="row">
    <div class="col-sm-4">
        <div class="row UserImage">
            <div class="col-sm-12">
                <img src="/Images/user7-128x128.jpg" class="img-responsive ProfileImage">
            </div>
            <div class="col-sm-12 ">
                <ul class="list-group ">
                    <li class="list-group-item PointsMargin">
                        Social Commitment <span class="badge">14</span>
                    </li>
                    <li class="list-group-item PointsMargin">
                        Social Contribution <span class="badge">14</span>
                    </li>
                    <li class="list-group-item PointsMargin">
                        Social Badges <span class="badge">14</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <h3>Christina</h3>
        I love my country and I love this world.
    </div>

    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">Registered Events</div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>Messages</td>
                        </tr>
                    </thead>
                    <tr>
                        <td>Black Money</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>Child Abuse</td>
                        <td>3</td>
                    </tr>
                </table>
            </div>


        </div>
    </div>

</div>

<div class="row">
    <div class="bs-callout bs-callout-info" id="callout-navs-tabs-plugin">
        <h4>Using navs for tab panels requires JavaScript tabs plugin</h4>
        <p>
            For tabs with tabbable areas, you must use the
            <a href="../javascript/#tabs">tabs JavaScript plugin</a>.
            The markup will also require additional <code>role</code> and ARIA attributes – see the plugin's
            <a href="../javascript/#tabs-usage">example markup</a> for further details.
        </p>
    </div>
</div>

